@import url('https://fonts.googleapis.com/css2?family=Acme&family=Archivo+Black&family=Fjalla+One&family=Oleo+Script&family=Prompt&family=Tajawal&display=swap');.main-branding {
    padding: 2em;
    text-align: center;

    h1 {
      font-family: 'Archivo Black', sans-serif;
      font-size: 4em;
      font-weight: 700;
    }

    h3 {
      font-family: 'Tajawal', sans-serif;
    }
  }