#my-plants-table-col {

}

#my-plants-table-name {
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
}

#my-plants-table-row {
  margin: auto;
  justify-content: center;
}

.my-plants-col {
  text-align: center;
}